
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
                            MOBILE
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

@media screen and (max-width: 768px) {
    body {
      overflow-x: hidden;
    }
  
    .container {
      width: 100vw;
      height: 100vh;
    }
  
    header {
      position: relative;
    }
  
    .nav-links {
      position: absolute;
      right: 0;
      margin: 0;
      top: 75px;
      height: 90vh;
      padding-top: 80px;
      background-color: #db3392;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      width: 50%;
      transform: translateX(100%);
      transition: transform 0.5s ease-in;
    }
  
    .nav-links li {
      margin: 20px 0;
    }
  
    .nav-links a {
      color: #fff;
    }
  
    .links:hover {
      color: #162c3b;
      font-weight: bold;
    }
  
    .linkedin i {
      margin: 0;
    }
  
    .burger {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: center;
    }
  
    .scrolling-active {
      background-color: rgba(255, 255, 255, 0.952);
      top: 0;
      left: 0;
      height: 75px;
    }
  
    nav {
      top: 0;
      left: 0;
    }
  
    .bg {
      background: linear-gradient(
          rgba(255, 255, 255, 0.171),
          rgba(255, 255, 255, 0.664),
          rgb(255, 255, 255)
        ),
        url(../images/flock-of-birds-917494.jpg) no-repeat;
      background-position: top;
      background-size: cover;
    }
  
    main {
      display: flex;
      flex-direction: column-reverse;
    }
  
    .content-right {
      margin-top: 20px;
      position: relative;
    }
  
    .content-left #about-btn {
      display: none;
    }
  
    .profile-img {
      text-align: center;
    }
  
    .profile-img img {
      width: 80%;
    }
  
    .presentation {
      font-size: 40px;
      text-align: center;
      display: block;
    }
  
    .icons {
      display: none;
    }
  
    .checkout {
      position: absolute;
      left: 50%;
      bottom: 5%;
      transform: translateX(-50%);
    }
  
    .profile-text {
      display: none;
    }
  
    .content-left {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    .content-left--text h2 {
      width: 100%;
      font-size: 16px;
      line-height: 1.7;
    }
  
    #about {
      -webkit-clip-path: polygon(0 10%, 100% 0%, 100% 90%, 0% 100%);
      clip-path: polygon(0 10%, 100% 0%, 100% 90%, 0% 100%);
    }
  
    #career {
      background-color: #fff;
      padding: 30px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  
    #about .content-box {
      padding: 20px;
      text-align: justify;
    }
  
    .content-box .text {
      font-size: 16px;
      text-align: justify;
    }
  
    .img-box {
      display: none;
    }
  
    .img-box a {
      width: 120px;
    }
  
    .img-box a img {
      width: 80%;
    }
  
    #about .content-box {
      width: 100%;
      background: linear-gradient(
          -40deg,
          rgba(11, 22, 117, 0.712),
          rgba(219, 51, 146, 0.568)
        ),
        url(../images/toronto-skyline.jpg);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
  
    .img-box img {
      width: 30%;
    }
  
    #edu {
      height: 100%;
      padding-bottom: 30px;
    }
  
    #edu .text {
      width: 90%;
      margin: 5px 0;
    }
  
    .edu-desc {
      display: flex;
      width: 100%;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  
    .edu-cont {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  
    .eduBx {
      position: relative;
      width: 90%;
      display: flex;
      height: 120px;
      margin: 0 0 10px 0;
      border-radius: 0px;
      background-color: #fcfefc;
      align-items: center;
    }
  
    .eduBx img {
      width: auto;
      height: 90px;
      margin: 10px;
    }
  
    .eduBx .flag {
      position: absolute;
      width: 24px;
      height: 30px;
      top: -5px;
      left: -5px;
    }
  
    .fa-angle-double-down {
      display: none;
    }

    #drink{
        display: none;
    }

    .flag img {
      width: 100%;
      height: auto;
    }
  
    footer {
      padding: 0 20px;
    }
  
    .nav-active {
      transform: translateX(0%);
      box-shadow: -5px 0 2px rgba(0, 0, 0, 0.103);
    }
  }
  