/*linear-gradient(to right, #0f2027, #203a43, #2c5364);
    linear-gradient(to right, #ad53899d, #3b105396)

font-family: 'Source Sans Pro', sans-serif;
font-family: 'Roboto Slab', serif;

/* Color Theme
pink color: #DB3392; 


Color Theme Swatches in Hex 
.Color-Theme-11-1-hex { color: #F8B195; }
.Color-Theme-11-2-hex { color: #F67280; }
.Color-Theme-11-3-hex { color: #C06C84; }
.Color-Theme-11-4-hex { color: #6C5B7B; }
.Color-Theme-11-5-hex { color: #355C7D; }


<div>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>

background colorido faixas: Photo by Dom J from Pexels
Modern art (branca) Photo by gdtography from Pexels
Photo by Efdal YILDIZ from Pexels
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #000;
  font-family: "Source Sans Pro", sans-serif;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

ul {
  display: flex;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  height: 100vh;
}

.bg {
  background: linear-gradient(
      rgba(255, 255, 255, 0.493),
      rgba(255, 255, 255, 0.932),
      rgba(255, 255, 255)
    ),
    url(images/flock-of-birds-917494.jpg) no-repeat;
  background-position: center;

  background-size: cover;
}

header {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 80px; */
}

.logo {
  width: 50px;
  height: 50px;
  opacity: 0.9;
}

.logo img {
  height: 100%;
}

.scrolling-active {
  background-color: rgba(255, 255, 255, 0.952);
  transition: background-color 250ms ease-in-out;
}

nav {
  width: 100%;
  height: 75px;
  padding: 0 60px;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(44, 44, 44, 0.041);
  position: fixed;
  z-index: 1000;
  box-shadow: 0 2px 2px rgba(153, 153, 153, 0.062);
}

.line3 {
  width: 30px;
  height: 3px;
  background-color: #db3392;
  margin: 3px;
}

.line2 {
  width: 20px;
  height: 3px;
  background-color: rgb(207, 34, 150);
  margin: 3px;
}

.line1 {
  width: 10px;
  height: 3px;
  background-color: rgb(216, 9, 164);
  margin: 3px;
}

.burger {
  z-index: 5000;
  position: absolute;
  top: 50%;
  right: 8%;
  display: none;
  cursor: pointer;
  transform: translateY(-50%);
}

.nav-links {
  margin-right: 50px;
}

.links {
  margin: 5px 20px;
  font-size: 18px;
  position: relative;
  color: #333;
}

.links::after {
  content: "";
  position: absolute;
  height: 2px;
  background-color: #db3392;
  opacity: 0.7;
  width: 100%;
  bottom: -3px;
  border-radius: 5px;
  left: 0;

  transform: scaleX(0);
  transform-origin: right;
  transition: transform 250ms ease-in;
}

.links:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

/* .linkedin {
    position: absolute;
    right: 60px;
} */

.linkedin i {
  font-size: 20px;
  margin-left: 20px;
  color: darkslategray;
}

.linkedin i:hover {
  opacity: 1;
  color: rgb(59, 37, 255);
}

main {
  display: flex;
  width: 90%;
  margin: 0 auto;
  height: 85vh;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 75px;
}

.content-left {
  flex-basis: 55%;
  display: flex;
  flex-direction: column;
}

.presentation {
  font-family: "Source Sans Pro", sans-serif;
  line-height: 1.1;
  margin-bottom: 20px;
  font-size: 60px;
  color: #333;
  display: inline-block;
}

.content-left h2 {
  font-family: "Source Sans Pro", sans-serif;
  line-height: 1.4;
  font-size: 20px;
  width: 80%;
  color: #333;
  font-weight: 200;
}

.about-btn:link,
.about-btn:active,
.about-btn:visited {
  padding: 10px 30px;
  margin-top: 30px;
  display: none;
  width: 250px;
  text-align: center;
  border-radius: 5px;
  background: #355c7d;
  color: #fff;
  font-size: 17px;
  word-spacing: 0.51px;
}

.about-btn:hover {
  background: linear-gradient(#355c7d, rgb(68, 118, 161));
  transform: translateY(-1px);
  color: #fff;
  box-shadow: 0 3px 6px rgba(51, 51, 51, 0.418);
}

.content-right {
  position: relative;
  flex-basis: 45%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-img img {
  width: 85%;
  border-radius: 50%;
  padding: 20px;
}

.fa-angle-double-down {
  position: absolute;
  bottom: 20px;
  font-size: 28px;
  left: 50%;
  color: #162429;
  transform: translateX(-50%);
  animation: keys 0.8s ease-in-out infinite alternate-reverse;
}

@keyframes keys {
  from {
    bottom: 30px;
  }

  to {
    bottom: 20px;
    color: #db3392;
  }
}

/*============ CHECKOUT START ==================*/
.checkout {
  position: absolute;
  border-radius: 10px;
  bottom: 10px;
  right: 50px;
  width: 250px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(247, 247, 247, 0.904);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.336);
  overflow: hidden;
}

.checkout-img {
  flex-basis: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkout-img i {
  font-size: 40px;
  transform: rotate(-20deg);
  color: goldenrod;
}

.checkout-qtd {
  flex-basis: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 20px;
}

.checkout-qtd p {
  font-size: 12px;
  margin-bottom: 5px;
  font-weight: bold;
  font-family: sans-serif;
}

/*=========== CHECKOU END ===============*/

.profile-text {
  display: flex;
  padding: 20px 10px;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  width: 220px;
  height: 100px;
  background-color: #fff;
  border-left: 10px solid #db3392;
  border-radius: 0 10px 10px 0;
  box-shadow: 9px 9px 2px 1px rgba(0, 0, 255, 0.1);
  top: 70%;
  left: 50%;
}

.hello {
  width: fit-content;
  position: absolute;
  left: 36%;
  top: 31%;
  font-family: "Nanum Pen Script", cursive;
  transform: rotate(-18deg);
  opacity: 0;
}

.visible {
  opacity: 1;
}

.name {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}

.title {
  font-size: 17px;
}

.icon {
  position: absolute;
  font-size: 70px;
  color: #333;
  opacity: 0.2;
}

.social {
  bottom: 0;
  left: 2%;
  transform: rotate(-40deg);
}

.ad {
  top: 0;
  left: 2%;
  transform: rotate(-50deg);
}

.message {
  top: 0;
  right: 15%;
}

/*+++++++++++++++++ ABOUT ++++++++++++++++++++*/

#about {
  position: relative;
  width: 100%;
  height: 500px;
  display: flex;
  overflow: hidden;
}

#about .content-box {
  background: #162c3b;
  padding: 100px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 50%;
}

.heading {
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

.text {
  color: #fff;
  font-size: 17px;
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 1.6;
}

#about .img-box {
  background: linear-gradient(
      -40deg,
      rgba(11, 22, 117, 0.712),
      rgba(219, 51, 146, 0.568)
    ),
    url(images/toronto-skyline.jpg);
  width: 50%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: all 0.5s ease;
}

#about .img-box:hover {
  transform: scale(1.1);
}

#career {
  background: #f9f9f9;
  padding: 100px;
  text-align: center;
}

#career .heading,
#career .text {
  color: #162c3b;
}

#career .img-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 40px;
}

#career .img-box img {
  max-width: 160px;
  margin: 20px;
  opacity: 0.6;
  cursor: pointer;
  filter: grayscale(1);
}

.gl{
    max-width: 120px;
}

#career .img-box img:hover {
  opacity: 1;
  filter: grayscale(0);
}

#edu {
  background: linear-gradient(#355c7d, #203a43);
  text-align: center;
  height: 90vh;
  position: relative;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.edu-cont {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
  margin-top: 40px;
}

.edu #edu-cont .bx {
  margin: 0 0 0 40px;
}

.eduBx {
  background-color: #fff;
  width: 230px;
  height: 300px;
  margin: 40px 0 0 40px;
  border-radius: 5px 5px 0 0;
  box-shadow: 5px 5px rgba(0, 0, 0, 0.295);
  position: relative;
}

.eduBx h3 {
  font-size: 16px;
  margin-bottom: 10px;
  font-weight: 100;
}

.eduBx h4 {
  font-weight: 800;
}

.diploma {
  margin-bottom: 10px;
  font-weight: bold;
}

.eduBx img {
  max-width: 120px;
}

.flag {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

footer {
  padding: 0 50px;
  display: flex;
  width: 100%;
  height: 100px;
  background-color: #162429;
  align-items: center;
  justify-content: space-between;
}

footer .logo-footer {
  width: 40px;
  filter: invert(1);
}

.logo-footer img {
  width: 100%;
}

.footer-text {
  color: #7e7e7e;
  text-align: center;
  opacity: 0.4;
  font-size: 14px;
}

.f-social h4 {
  color: #fff;
}

.f-social ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.f-social li {
  margin: 5px 0;
}

.f-social li a {
  color: #2a5868;
  font-size: 18px;
  transition: all 0.6s ease;
}

.f-social li a:hover {
  color: #fff;
}

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
                            MOBILE
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  .container {
    width: 100vw;
    height: 100vh;
  }

  header {
    position: relative;
  }

  .nav-links {
    position: absolute;
    right: 0;
    margin: 0;
    top: 75px;
    height: 90vh;
    padding-top: 80px;
    background-color: #db3392;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }

  .nav-links li {
    margin: 20px 0;
  }

  .nav-links a {
    color: #fff;
  }

  .links:hover {
    color: #162c3b;
    font-weight: bold;
  }

  .linkedin i {
    margin: 0;
  }

  .burger {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
  }

  .scrolling-active {
    background-color: rgba(255, 255, 255, 0.952);
    top: 0;
    left: 0;
    height: 75px;
  }

  nav {
    top: 0;
    left: 0;
  }

  .bg {
    background: linear-gradient(
        rgba(255, 255, 255, 0.171),
        rgba(255, 255, 255, 0.664),
        rgb(255, 255, 255)
      ),
      url(../images/flock-of-birds-917494.jpg) no-repeat;
    background-position: top;
    background-size: cover;
  }

  main {
    display: flex;
    flex-direction: column-reverse;
  }

  .content-right {
    margin-top: 20px;
    position: relative;
  }

  .content-left #about-btn {
    display: none;
  }

  .profile-img {
    text-align: center;
  }

  .profile-img img {
    width: 80%;
  }

  .presentation {
    font-size: 40px;
    text-align: center;
    display: block;
  }

  .icons {
    display: none;
  }

  .checkout {
    position: absolute;
    left: 50%;
    bottom: 5%;
    transform: translateX(-50%);
  }

  .profile-text {
    display: none;
  }

  .content-left {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .content-left--text h2 {
    width: 100%;
    font-size: 16px;
    line-height: 1.7;
  }

  #about {
    -webkit-clip-path: polygon(0 10%, 100% 0%, 100% 90%, 0% 100%);
    clip-path: polygon(0 10%, 100% 0%, 100% 90%, 0% 100%);
  }

  #career {
    background-color: #fff;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #about .content-box {
    padding: 20px;
    text-align: justify;
  }

  .content-box .text {
    font-size: 16px;
    text-align: justify;
  }

  .img-box {
    display: none;
  }

  .img-box a {
    width: 120px;
  }

  .img-box a img {
    width: 80%;
  }

  #about .content-box {
    width: 100%;
    background: linear-gradient(
        -40deg,
        rgba(11, 22, 117, 0.712),
        rgba(219, 51, 146, 0.568)
      ),
      url(../images/toronto-skyline.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .img-box img {
    width: 30%;
  }

  #edu {
    height: 100%;
    padding-bottom: 30px;
  }

  #edu .text {
    width: 90%;
    margin: 5px 0;
  }

  .edu-desc {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .edu-cont {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .eduBx {
    position: relative;
    width: 90%;
    display: flex;
    height: 120px;
    margin: 0 0 10px 0;
    border-radius: 0px;
    background-color: #fcfefc;
    align-items: center;
  }

  .eduBx img {
    width: auto;
    height: 90px;
    margin: 10px;
  }

  .eduBx .flag {
    position: absolute;
    width: 24px;
    height: 30px;
    top: -5px;
    left: -5px;
  }

  .fa-angle-double-down {
    display: none;
  }

  .flag img {
    width: 100%;
    height: auto;
  }

  footer {
    padding: 0 20px;
  }

  .nav-active {
    transform: translateX(0%);
    box-shadow: -5px 0 2px rgba(0, 0, 0, 0.103);
  }
}
